<div class="res-content">
  <div class="btnPdff">
    <h3>Front-end <span class="lng-devel">Developer</span></h3>

    <a href="https://drive.google.com/file/d/1L5ped83fpSSrQXYgd-mIEUqjBEeoecLX/view?usp=sharing" target="_blank"
      class="btnPdf lng-pdf">download resume PDF</a>
  </div>

  <h1 class="lng-title">Olha Herasymchuk</h1>

  <h2 class="lng-summ">Summary</h2>

  <p class="lng-summText">
    As a Front-end Developer with a strong command of HTML, CSS, JavaScript, and React, I bring a
    diverse
    skill set to the table. With a keen eye for detail and a commitment to delivering high-quality, user-centric
    solutions,
    I thrive in fast-paced development environments.Constantly staying updated with the latest industry trends and best
    practices, I am committed to continuous learning and growth. I am excited to leverage my technical skills and
    passion
    for creating exceptional web experiences to contribute to a dynamic and innovative development team."
  </p>

  <h2 class="lng-educ">Education</h2>
  <ul class="dot">
    <li>
      <h3 class="lng-vuz">
        ACADEMICIAN STEPAN DEMIANCHUKINTERNATIONAL UNIVERSITY OFECONOMICS AND HUMANITIES
      </h3>
      <p class="lng-fak">
        Faculty of Pedagogy, specialty: practical psychology, social pedagogy September 2013 - 2017
      </p>
    </li>
    <li>
      <h3 class="title-name">GoIT Academy</h3>
      <p>
        Full Stack <span class="lng-develop"> Developer</span> |
        <span class="lng-date">08 2022- present</span>
      </p>
    </li>
  </ul>

  <h2 class="lng-proj">Project experience:</h2>
  <ul class="res-content-project">
    <li class="item">
      <a href="https://okayolha.github.io/goit-markup-hw-08/" target="_blank">
        <img src="./images/webStudio.jpg" alt="WebStudio" width="100%" />
        <p>WebStudio</p>
      </a>
    </li>
    <li class="item">
      <a href="https://okayolha.github.io/banderogus/" target="_blank">
        <img src="./images/banderogus.jpg" alt="banderogus" width="100%" />
        <p>Banderogus</p>
      </a>
    </li>
    <li class="item">
      <a href="https://alex-postrik.github.io/js-project-team-8/" target="_blank">
        <img src="./images/filmoteka.jpg" alt="Filmoteka" width="100%" />
        <p>Filmoteka</p>
      </a>
    </li>

    <li class="item">
      <a href="https://kristinashepeleva.github.io/project-team-14/" target="_blank">
        <img src="./images/icecrema.jpg" alt="icecrema" width="100%" />
        <p>iceCrema</p>
      </a>
    </li>
  </ul>
</div>