<div class="footer">
	<h3 class="lng-follow footer-title">follow me</h3>
	<ul class="footer-link">
		<li>
			<a class="footer-link__size-icon" href="https://www.instagram.com/olli_gera/" target="_blank">
				<svg width="44" height="44" class="footer-link__icon">
					<use href="./images/icons.svg#icon-instagram"></use>
				</svg>
			</a>
		</li>
		<li>
			<a class="footer-link__size-icon" href="https://www.facebook.com/okay.olha" target="_blank">
				<svg width="44" height="44" class="footer-link__icon">
					<use href="./images/icons.svg#icon-facebook"></use>
				</svg>
			</a>
		</li>
		<li>
			<a class="footer-link__size-icon" href="https://www.linkedin.com/in/olha-herasymchuk/" target="_blank">
				<svg width="44" height="44" class="footer-link__icon">
					<use href="./images/icons.svg#icon-in"></use>
				</svg>
			</a>
		</li>
		<li>
			<a class="footer-link__size-icon" href="https://t.me/olli_gera" target="_blank">
				<svg width="44" height="44" class="footer-link__icon">
					<use href="./images/icons.svg#icon-send"></use>
				</svg>
			</a>
		</li>
	</ul>
</div>