<div class="side-bar">
  <img src="./images/me.jpg" alt="me" class="photo" />
  <div class="side-bar-content">
    <div class="contacts">
      <h2 class="lng-contacts">Contacts</h2>
      <div class="contacts-item">
        <p class="lng-tel">tel:&nbsp</p>
        <a href="tel:+380633697147">+38 067 68 54 596</a>
      </div>
      <div class="contacts-item">
        <p class="lng-mail">mail:&nbsp</p>
        <a href="mailto:agdemidof@gmail.com">okay.olha@gmail.com</a>
      </div>
      <div>
        <p class="lng-country">Ostroh, Ukraine</p>
      </div>
    </div>
    <div class="tech-skills">
      <h2 class="lng-tech">Tech skills</h2>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>GIT</li>
        <li>JavaScript</li>
        <li>REST API</li>
        <li>React</li>
        <li>Redux</li>
      </ul>
    </div>
    <div class="soft-skills">
      <h2 class="lng-soft">Soft skills</h2>
      <ul>
        <li class="lng-one">
          Ability to work efficiently both individually and in a team
        </li>
        <li class="lng-two">Creative thinking skills</li>
        <li class="lng-thre">Organizational skills</li>
        <li class="lng-four">Willingness to learn</li>
        <li class="lng-five">Teamwork</li>
      </ul>
    </div>
    <div class="languages">
      <h2>Languages</h2>
      <ul>
        <li class="lng-eng">English - Pre-Intermediate</li>
        <li class="lng-ukr">Ukrainian - Native</li>
      </ul>
    </div>
  </div>
</div>